<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main_layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="alert alert-info" th:if="${exist}">
            <p class="text text-center">
                User already exist
            </p>
        </div>
        <div class="card border-secondary mb-3 mt-4">
            <div class="card-header">Create new teacher</div>
            <div class="card-body">
                <form action="#" th:action="@{/admin/register}" th:object="${createUserRequest}" method="post">

                    <div class="form-group">
                        <label for="fullName" class="form-control-lavel">Full Name</label>
                        <input type="text" class="form-control" th:field="*{fullName}" id="fullName"/>
                        <div class="text text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="form-control-lavel">Username</label>
                        <input type="text" class="form-control" th:field="*{username}" id="username"/>
                        <div class="text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-control-lavel">Password</label>
                        <input type="text" class="form-control" th:field="*{password}" id="password"/>
                        <div class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-control-lavel">Email</label>
                        <input type="text" class="form-control" th:field="*{email}" id="email"/>
                        <div class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>

                    <input type="submit" value="submit" class="btn btn-primary float-right">
                </form>
            </div>
        </div>
    </div>
</body>
</html>