<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main_layout}"
>
<head>
    <meta charset="UTF-8">
    <title>My time sheets</title>
</head>
<body>
<div layout:fragment="content" class="container mt-3">
    <div class="row">
        <div class="col-10">
            <form class="form-inline">
                <div class="form-row align-items-center">
                    <div class="form-group mr-5">
                        <label class="col-form-label mr-2" for="teach-date">Teacher</label>
                        <select id="teacher" class="form-control">
                            <option value="" selected >All</option>
                            <option th:each="user:${userList}" th:value="${user.getFullName()}"
                                    th:text="${user.getFullName()}"></option>
                        </select>
                    </div>
                    <div class="form-group mr-4">
                        <label class="col-form-label mr-2" for="teach-date">Month</label>
                        <input type="month" class="form-control" id="teach-date">
                    </div>
                    <div class="form-group mr-4">
                        <label class="col-form-label mr-2" for="status_timeSheet">Status</label>
                        <select id="status_timeSheet" class="form-control">
                            <option value="" selected>All</option>
                            <option value="Approve">Approve</option>
                            <option value="Reject">Reject</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table table-hover" id="time-sheet">
            <thead>
            <tr>
                <th>#ID</th>
                <th>Teacher</th>
                <th>Date</th>
                <th>From time</th>
                <th>To time</th>
                <th>Title</th>
                <th>Description</th>
                <th>Student</th>
                <th>Note</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="timesheet:${timeSheetList}">
               <td th:text="${timesheet.id}"></td>
               <td th:text="${timesheet.userInfo.fullName}"></td>
               <td th:text="${timesheet.teachDate}"></td>
               <td th:text="${timesheet.fromTime}"></td>
               <td th:text="${timesheet.toTime}"></td>
               <td th:text="${timesheet.contentTitle}"></td>
               <td th:text="${timesheet.description}"></td>
               <td th:text="${timesheet.student}"></td>
                <td th:text="${timesheet.note}"></td>
               <td><span th:class="${timesheet.status.equals(timesheet.status.APPROVE)}
                                    ? 'badge badge-pill badge-success'
                                    : 'badge badge-pill badge-warning'"
                         th:text="${timesheet.status}"></span></td>
                <td>
                    <a th:href="@{timeSheet/update/{timSheetId}(timSheetId=${timesheet.id})}" class="btn btn-primary" th:text="${timesheet.status.equals(timesheet.status.APPROVE)} ? 'Reject' : 'Approve'"></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>