<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main_layout}"
>
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<div layout:fragment="content" class="container mt-3">
    <div class="alert alert-success" th:if="${success}">
        <p class="text text-center">
            Success
        </p>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <a class="btn btn-success" th:href="@{/register}">
                Add new Teacher
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table table-hover" id="user-table">
            <thead>
            <tr>
                <th>Teacher Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Status</th>
                <th>Lock/Unlock</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.isBlock} ? 'BLOCK' : 'ACTIVE'"> BLOCK </td>

                <td>
                    <a th:href="@{/lockUnlock/{userId}(userId=${user.userId})}" class="btn btn-primary" th:text="${user.isBlock} ? 'UNLOCK' : 'LOCK'"></a>
                </td>
                <td>
                    <a th:href="@{/updateUser/{userId}(userId=${user.userId})}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>