<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>App demo</title>
    <link rel="stylesheet" href="../../static/css/litera/bootstrap.min.css" th:href="@{css/litera/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}">
    <script th:src="@{webjars/jquery/dist/jquery.js}"></script>
    <script th:src="@{webjars/bootstrap/dist/js/bootstrap.js}"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div layout:fragment="content"></div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>