<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.thyeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8" content="text/html; charset=UTF-8">
    <title>App demo</title>
    <link rel="stylesheet" href="../../static/css/litera/bootstrap.min.css" th:href="@{/css/litera/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <script th:src="@{/webjars/jquery/dist/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/datatables.min.js"></script>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div layout:fragment="content"></div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
<script>
    $(document).ready(function() {
        $('#user-table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Export to excel',
                    sheetName: 'Teacher',
                    title: 'Teacher list',
                    exportOptions: {
                        modifier: {
                            page: 'all'
                        },
                        columns: [0,1,2,3,4]
                    }

                }
            ]
        });
//-----------------------------------------------------------------//
        const today = new Date();
        const teachDate = document.getElementById("teach-date");
        if(teachDate !== undefined && teachDate !== null){
            const currentMoth = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2)
            teachDate.value = currentMoth;
            teachDate.max = currentMoth;
        }

        const teachDateCreateForm = document.getElementById("teachDate");
       if(teachDateCreateForm !== undefined &&  teachDateCreateForm !== null){
           const currentDate = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
           teachDateCreateForm.value = currentDate;
           teachDateCreateForm.max = currentDate;
       }

        let titleFileTimeSheet = "Time Sheet of month";
        const table = $('#time-sheet').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Export to excel',
                    sheetName: "TimeSheet",
                    title: titleFileTimeSheet,
                    exportOptions: {
                        modifier: {
                            page: 'all'
                        },
                        columns: [1,2,3,4,5,6,7,8]
                    }

                }
            ]
        });

        $('#teacher').on( 'change', function () {
            table.column(1).search( this.value ).draw();
        } );
        $('#teach-date').on( 'change', function () {
            table.column(2).search( this.value ).draw();
        } );
        $('#status_timeSheet').on( 'change', function () {
            table.column(9).search( this.value ).draw();
        } );
    } );
</script>
</html>