<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/loginStyle.css" th:href="@{/css/loginStyle.css}">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://lh3.googleusercontent.com/a-/AOh14GgGUrrpAbyjfHCpTzwZ3fiFQQgkGGlhTKFXm9SQ=s96-c-rg-br100" id="icon" alt="User Icon" style="max-width: 70px"/>
        </div>

        <!-- Login Form -->
        <form th:action="@{login}" method="post" th:object="${loginRequest}" id="form-style">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" th:field="*{username}">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" th:field="*{password}">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
<!--        <div id="formFooter">-->
<!--            <a class="underlineHover" href="#">Forgot Password?</a>-->
<!--        </div>-->

    </div>
</div>
</body>
</html>